body {
	color: #FFDA90;
	font-family: helvetica;
}


#gameDisplay{
	text-align: center;
	padding: 15px;
	background-color:#8A89E8;
	margin: 10px;
	border-radius: 5px;
	margin-top: 50px;
	font-family: monospace;
	text-shadow: 2px 2px #781330;
	font-size: 3vw;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}


#choices{
	display: flex;
	margin-left: auto;
	margin-right: auto;
	padding: 50px;
}

.choiceButton{
	font-size: 50px;
	margin: 0 auto;
}


#gameDiv{
	width: 90vw;
	margin-left: auto;
	margin-right: auto;
	background-color: #AABDFC;
	border-radius: 5px;
	padding: 5px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#scoreDiv{
	display: flex;
	width:20vw;
	background-color: #1C4466;
	margin: 0 auto;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	flex-direction: column;
}

p{
	margin: 0 auto;
}

.scoreKeeper{
	margin:0 auto;
}

#resultDiv{
	display: flex;
	flex-direction:column;
	text-align: center;
	font-style: monospace;
	width: 20vw;
	background-color:#1C4466;
	border-radius: 5px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#calcDiv{
	display: flex;
}

#emptyDiv{
	width:50vw;
}